<%= semantic_form_for @mail_route do |f| %>
<%= f.inputs do %>
    
<div class="row">
  <div class="col-md-11"> <%= f.input :name, :label => "Name - Reference for this Route" %></div>
</div>

<div class="row">
  <div class="col-md-6"> 
    <div class="row-md-4"> <%= f.input :origin_id, :required => true, as: :string, wrapper_html: { class: "autocomplete-origin", data: { auto: Place.all.map(&:name) } }, input_html: { disabled: true, class: "autocomplete-origin", value: @mail_route.origin.try(:name) } %></div>
    <div class="row-md-4"> <%= f.input :destination_id, :required => true, as: :string, input_html: { disabled: true, class: "autocomplete-destination", value: @mail_route.destination.try(:name) } %></div>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-6">
    <div class="col-md-4"> <%= f.input :transport_type, input_html: {disabled: true}, :as => :radio, :collection => ["Air", "Sea", "Land"] %></div>
    <div class="col-md-2"> </div>
    <div class="col-md-4"> <%= f.input :priority,  input_html: {disabled: true}, :as => :radio, :collection => { "Standard" => 0, "High" => 1 } %></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6"> <%= f.input :company %></div>
  <div class="col-md-6">
    <div class="col-md-4"> <%= f.input :maximum_weight, :label => "Maximum Weight (Kg)"%></div>
    <div class="col-md-2"> </div>
    <div class="col-md-4"> <%= f.input :maximum_volume, :label => "Maximum Volume(m3)" %></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6"> <%= f.input :duration, input_html: {disabled: true},:label => "Duration - In minutes" %></div>
  <div class="col-md-6">
    <div class="col-md-4"> <%= f.input :cost_per_weight, :label => "Cost per Kg"%></div>
    <div class="col-md-2"> </div>
    <div class="col-md-4"> <%= f.input :cost_per_volume, :label => "Cost per cubic metre"%></div>
  </div>
</div>

<div class="row">
  <div class="col-md-6"> <%= f.input :frequency, input_html: {disabled: true},:label => "Frequency - In minutes"%></div>
  <div class="col-md-6">
    <div class="col-md-4"> <%= f.input :price_per_weight, :label => "Price per Kg"%></div>
    <div class="col-md-2"> </div>
    <div class="col-md-4"> <%= f.input :price_per_volume, :label => "Price per cubic metre"%></div>
  </div>
</div>

<div class="row">
  <div class="col-md-12"> <%= f.input :start_date, input_html: {disabled: true} %></div>
</div>

<% end %>
<%= f.actions %>
<% end %>
