<div id="mailroute_container">
  <div class='same_width_button'><%= link_to "Add New Route", new_mail_route_path, class: "btn btn-primary" %></div>
  <n>
  <p> <br>Click on a route to edit it</p>
  <h1>Active Routes</h1>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Type</th>
        <th>Max Weight</th>
        <th>Max Volume</th>
        <th>Priority</th>
        <th>Cost / Weight</th>
        <th>Cost / Volume</th>
        <th>Price / Weight</th>
        <th>Price / Volume</th>
        <th>Origin</th>
        <th>Dest.</th>
        <th>Duration (minutes)</th>
        <th>Freq. (minutes)</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
    <% @active_mail_routes.each do |mail_route| %>
      <tr class='route' data-url='<%= edit_mail_route_url(mail_route) %>'>
        <td><%= mail_route.id %></td>
        <td><%= mail_route.name %></td>
        <td><%= mail_route.company %></td>
        <td><%= mail_route.transport_type %></td>
        <td><%= mail_route.maximum_weight %></td>
        <td><%= mail_route.maximum_volume %></td>
        <td><%= mail_route.priority_string %></td>
        <td><%= mail_route.cost_per_weight %></td>
        <td><%= mail_route.cost_per_volume %></td>
        <td><%= mail_route.price_per_weight %> </td>
        <td><%= mail_route.price_per_volume %></td>
        <td><%= mail_route.origin.name %></td>
        <td><%= mail_route.destination.name %></td>
        <td><%= mail_route.duration %></td>
        <td><%= mail_route.frequency %></td>
        <td><%= mail_route.start_date.to_s(:db) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <br /><br /><br />
  <hr />
  <br />
  <h1>Discontinued Routes</h1>


  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Company</th>
        <th>Type</th>
        <th>Max Weight</th>
        <th>Max Volume</th>
        <th>Priority</th>
        <th>Cost / Weight</th>
        <th>Cost / Volume</th>
        <th>Price / Weight</th>
        <th>Price / Volume</th>
        <th>Origin</th>
        <th>Dest.</th>
        <th>Duration (minutes)</th>
        <th>Freq. (minutes)</th>
        <th>Start Date</th>
      </tr>
    </thead>
    <tbody>
    <% @discontinued_mail_routes.each do |mail_route| %>
      <tr>
        <td><%= mail_route.id %></td>
        <td><%= mail_route.name %></td>
        <td><%= mail_route.company %></td>
        <td><%= mail_route.transport_type %></td>
        <td><%= mail_route.maximum_weight %></td>
        <td><%= mail_route.maximum_volume %></td>
        <td><%= mail_route.priority_string %></td>
        <td><%= mail_route.cost_per_weight %></td>
        <td><%= mail_route.cost_per_volume %></td>
        <td><%= mail_route.price_per_weight %> </td>
        <td><%= mail_route.price_per_volume %></td>
        <td><%= mail_route.origin.name %></td>
        <td><%= mail_route.destination.name %></td>
        <td><%= mail_route.duration %></td>
        <td><%= mail_route.frequency %></td>
        <td><%= mail_route.start_date.to_s(:db) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
