<h1>Business Figures</h1>
<h2>Main figures</h2>
<table class='table table-striped table-condensed clear-background well'>
  <tbody>
    <tr>
      <th>Total Profit</th>
      <td class='<%= @profit >= 0 ? "text-success" : "text-danger"%>'><%= number_to_currency @profit %></td>
    </tr>
    <tr>
      <th>Total Revenue</th>
      <td class='text-success'><%= number_to_currency @total_revenue %></td>
    </tr>
    <tr>
      <th>Total Expenditure</th>
      <td class='text-danger'><%= number_to_currency @total_expenditure %></td>
    </tr>
    <tr>
      <th>Total Events Processed</th>
      <td><%= @total_events %></td>
    </tr>
    <tr>
      <th>Total Mail Sent</th>
      <td><%= @mail_number %></td>
    </tr>
    <tr>
      <th>Total Mail Volume</th>
      <td><%= @mail_volume %> m<sup>3</sup></td>
    </tr>
    <tr>
      <th>Total Mail Weight</th>
      <td><%= @mail_weight %> kg</td>
    </tr>

  </tbody>
</table>
<hr />
<h2>Average Delivery Times</h2>
<div class='alert alert-info alert-sm'>Average delivery times are from each origin to destination per transport type and priority, not per <strong>route</strong></div>
<table class='table data_table table-condensed'>
  <thead>
    <tr>
      <th>Origin</th>
      <th>Destination</th>
      <th>Transport Type</th>
      <th>Priority</th>
      <th>Average Delivery Time</th>
    </tr>
  </thead>
  <tbody>
  <% @average_times.each do |row, value| %>
    <tr>
      <td><%= row[0] %></td>
      <td><%= row[1] %></td>
      <td><%= row[2] %></td>
      <td><%= row[3] %></td>
      <td><%= format_time(value) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />
<hr />
<br />
<h2>Route Financial Performance</h2>
<div class='alert alert-info alert-sm'><span class="glyphicon glyphicon-hand-right"></span> Critical routes will appear in red!</div>
<table class='table data_table_2 table-condensed'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Route Name</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Transport Type</th>
      <th>Priority</th>
      <th>Route Profit ($)</th>
      <th>Quick Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @route_profits.each do |route, value| %>
    <tr class='route<%= " route-critical" if value < 0 %>' data-url='<%= edit_mail_route_path(route) %>'>
      <td><%= route.id %></td>
      <td><%= route.name %></td>
      <td><%= route.origin.name %></td>
      <td><%= route.destination.name %></td>
      <td><%= route.transport_type %></td>
      <td><%= route.priority_string %></td>
      <td><%= number_to_currency(value, {unit: '', delimiter: ''}) %></td>
      <td>
        <%= link_to "Show / Edit", edit_mail_route_path(route), class: 'btn btn-primary btn-xs' %>
        <%= link_to "Discontinue", discontinue_route_path(route), method: :put, class: 'btn btn-danger btn-xs' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
<br />
<hr />
<br />
<h2>Amount of Mail Sent Down Each Route</h2>
<table class='table data_table_3 table-condensed'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Route Name</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Transport Type</th>
      <th>Priority</th>
      <th>Amount of Mail</th>
      <th>Quick Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @route_mail_counts.each do |route, value| %>
    <tr class='route<%= " route-critical" if value < 0 %>' data-url='<%= edit_mail_route_path(route) %>'>
      <td><%= route.id %></td>
      <td><%= route.name %></td>
      <td><%= route.origin.name %></td>
      <td><%= route.destination.name %></td>
      <td><%= route.transport_type %></td>
      <td><%= route.priority_string %></td>
      <td><%= value %></td>
      <td>
        <%= link_to "Show / Edit", edit_mail_route_path(route), class: 'btn btn-primary btn-xs' %>
        <%= link_to "Discontinue", discontinue_route_path(route), method: :put, class: 'btn btn-danger btn-xs' if route.active? %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
