<div id="mailroute_container">
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
<div id="all_data" data-mail='<%= raw(@mail_data.to_json) %>' data-route='<%= raw(@route_data.to_json) %>' data-place='<%= raw(@place_data.to_json) %>' data-time='<%= @current_time %>'></div>
<div id="map-canvas" data-routes='<%= raw(@lines) %>'></div>
  <div class='same_width_button'><%= link_to "New Mail", new_mail_path, class: "btn btn-primary" %></div> 
  <legend id='legend'>
    <ul>
      <li><span class='label label-success'>Land</span></li>
      <li><span class='label label-warning'>Air</span></li>
      <li><span class='label label-sea' width="100px">Sea</span></li>
    </ul>
  </legend>
  <hr />
  <h2>Mail</h2>
  <div class='alert alert-info alert-sm'>
    <span class='glyphicon glyphicon-hand-right'></span>
    Find out more about a piece of mail by clicking on it
  </div>
  <table class='table'>
    <thead>
      <tr>
        <th>ID</th>
        <th>Origin</th>
        <th>Destination</th>
        <th>Priority</th>
        <th>From overseas?</th>
        <th>State</th>
        <th>Current location</th>
        <th>Sent at</th>
        <th>Received at</th>
        <th>Weight</th>
        <th>Volume</th>
        <th>Cost</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @mails.each do |mail| %>
      <tr class='route' data-url='<%= mail_url(mail) %>'>
      <td><%= mail.id %></td>
      <td><%= mail.origin.name %></td>
      <td><%= mail.destination.name %></td>
      <td><%= mail.priority_string %></td>
      <td><%= mail.from_overseas? ? "Yes" : "No" %></td>
      <td><%= mail.current_state.state %></td>
      <td><%= mail.current_location.try(:name) %></td>
      <td><%= mail.sent_time %></td> 
      <td><%= mail.received_time %></td>
      <td><%= mail.weight %></td>
      <td><%= mail.volume %></td>
      <td><%= number_to_currency mail.cost %></td>
      <td><%= number_to_currency mail.price %></td>
    </tr>
  <% end %>
    </tbody>
  </table>
</div>
