<h1>Create new User</h1>
<%= semantic_form_for @user do |f| %>
  <%= f.input :username, required: true %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.input :role, as: :select, collection: options_for_select(["Clerk", "Manager"], "Clerk"), required: true, include_blank: false %>
  <%= f.actions %>
<% end %> 
